#content {
	margin: auto;
	width: 500px;
	margin-top: 200px;
}

table {
	border-spacing: 0px;
	width: 100%;
}

th {
	background: #efecec
}

td {
	border-bottom: 1px solid #ddd;
}

th, td {
	padding: 15px;
	text-align: left;
}

#records th, #records td {
	width: 100%;
}

body {
	font-family: "Roboto", sans-serif;
}

#schedule-hdr {
	margin-top: 100px;
}

#bigface {
	font-size: 40pt;
	text-align: center;
}

.bigface-text {
	text-align: center;
}
