#content {
	margin: auto;
	width: 700px;
	margin-top: 60px;
}

table {
	border-spacing: 0px;
	width: 100%;
}

th {
	background: #efecec;
}

td {
	border-bottom: 1px solid #ddd;
}

th, td {
	padding: 15px;
	text-align: left;
}

td.player {
	background: #efecec;
	width: 100px;
}

.records-cell {
	width: 100%;
}

body {
	font-family: "Roboto", sans-serif;
}

#schedule-hdr {
	margin-top: 100px;
}

#bigface {
	font-size: 40pt;
	text-align: center;
}

.bigface-text {
	text-align: center;
}

#logo {
	margin: auto;
	width: 260px;
	margin-top: 100px;
}

.winner {
	font-weight: bold;
}

.league-name {
	text-align: center;
	margin-bottom: 60px;
	font-size: 40pt;
	color: #949494;
	font-weight: lighter;
}

footer {
	margin-top: 100px;
	margin-bottom: 40px;
	width: 100%;
	text-align: center;
	color: #585858;
}

marquee {
	position: fixed;
	margin-top: 100px;
}

marquee img {
	height: 1010px;
	width: 756px;
}

.inactive {
	color: #dedede;
}
