#content {
	margin: auto;
	width: 700px;
	margin-top: 60px;
}

#navbar {
	height: 25px;
}

.active {
	background-color: #1111114f;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #efecec;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #1111114f;
}

table {
	border-spacing: 0px;
	width: 100%;
}

th {
	background: #efecec;
}

td {
	border-bottom: 1px solid #ddd;
}

th, td {
	padding: 15px;
	text-align: left;
}

td.player {
	background: #efecec;
	width: 50;
}

.records-cell {
	width: 100%;
}

body {
	font-family: "Roboto", sans-serif;
}

#schedule-hdr {
	margin-top: 100px;
}

#logo {
	margin: auto;
	width: 260px;
	margin-top: 100px;
}

#bradylogo {
	margin: auto;
	width: 634px;
	margin-top: 100px;
}

.winner {
	font-weight: bold;
}

.league-name {
	text-align: center;
	margin-bottom: 60px;
	font-size: 40pt;
	color: #949494;
	font-weight: lighter;
}

footer {
	margin-top: 100px;
	margin-bottom: 40px;
	width: 100%;
	text-align: center;
	color: #585858;
}

marquee {
	position: fixed;
	margin-top: 100px;
}

marquee img {
	height: 1010px;
	width: 756px;
}

.inactive {
	color: #dedede;
}

div > svg {
	height: 100%;
	width: auto;
}
