{{ define "content" }}
<div id="bradyLogo">
  <img style="max-width: 50%; display: block; margin: auto;" src="/static/danyaprom.png" alt="Yes, that's a cane.">
  <p style="font-style: italic; text-align: center;">On his way to purchase organic lunch meat.</p>
</div>
<div id="content" class="table1" style="width: 750px;">
  <h1 class="league-name">Brandeis Basement League</h1>

  <h2>Skee-Ball</h2>
  <table>
    <tbody>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>High Score</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Deecle</td>
        <td>300</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Criti</td>
        <td>260</td>
      <tr>
        <td>3</td>
        <td>Doon</td>
        <td>250</td>
    </tbody>
  </table>

  <h2>I-Beam Ball</h2>
  <p style="font-style: italic;">Invented by Danya because he was losing at Skee-Ball.</p>
  <table>
    <tbody>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>High Score</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Deecle</td>
        <td>10</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Doon</td>
        <td>7</td>
      <tr>
        <td>3</td>
        <td>Criti</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>

</div>
{{ end }}
