{{ define "content" }}
<div id="bradyLogo">
  <img style="max-width: 100%;" src="/static/kevin_durant.jpg" alt="I'm not explaining this to you.">
  <p style="font-style: italic; text-align: center;">You awake to Kevin Durant in your house</p>
</div>
<div id="content" class="table1" style="width: 750px;">
  <h1 class="league-name">League of Extraordinary Trolls</h1>

  <p><b>1st place: BDL ($800)</b></p>
  <p>2nd place: Kevin Krakauer ($200)</p>
  <p>Points winner: Danya "Eloquent" Gordin ($120)</p>
  <p><i>The Banshees of Inisherin</i> Brendan Gleeson inaugural prize for (non-bodily) self harm: Kevin Krakauer (-$200)</p>
  <p><i>The Shawshank Redemption</i> Bob Gunton inaugural prize for wanton corruption in a position of leadership: Matthew Tarantino (-$0, but a massive loss of respect from all involved)</p>

  <h2>Playoffs</h2>
  <div class="bracket" style="width: 700px; height: 400px;">
  {{ .Bracket }}
  </div>

  <h2>Regular Season Standings</h2>
  <table id="records">
    <tbody id="records-body">
      <tr id="records-header">
        <th>Rank</th>
        <th>Team</th>
        <th>W-L-T</th>
        <th>PF</th>
        <th>PA</th>
      </tr>
      {{ range .Players }}
      <tr>
        <td>{{ .Rank }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .WinLossTie }}</td>
        <td>{{ .PointsFor }}</td>
        <td>{{ .PointsAgainst }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
