<html>
  <head>
    <title>Lucriti Lounge</title>
    <link rel="stylesheet" href="/static/ll.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="navbar">
      <ul>
        <li><a href="/">Super Mega Baseball</a></li>
        <li><a class="active" href="/madden">Madden</a></li>
      </ul>
    </div>

    <div id="bradylogo">
      <img src="/static/brady.jpg" alt="G.O.A.T">
    </div>
    <div id="content" class="table1">
      <h1 class="league-name">John Derby Lawrence the 3rd Memorial Division</h1>

      <h2>Standings</h2>
      <table id="records">
        <tbody id="records-body">
          <tr id="records-header">
            <th>Team</th>
            <th>GP</th>
            <th>W</th>
            <th>L</th>
            <th>T</th>
            <th>PCT</th>
            <th>GB</th>
            <th>PPG</th>
            <th>PPGA</th>
          </tr>
        </tbody>
      </table>

      <h2 id="schedule-hdr">Schedule</h2>
      <table id="schedule">
        <tbody id="schedule-body">
          <tr id="schedule-header">
            <th>Away</th>
            <th>Home</th>
            <th>Score</th>
            <th>Date</th>
          </tr>
        </tbody>
      </table>
    </div>

    <footer>
      &copy; 2019 The Lucriti Lounge
    </footer>

    <script src="/static/madden_games.js"></script>
    <script src="/static/madden.js"></script>
  </body>
</html>
